.project-item {
  min-width: 250px;
  max-width: 250px;
  height: auto;
  color: aliceblue;
  text-align: center;
  margin: 10px;
  box-shadow: #0088aa 0 0 3px;
  border-radius: 10px;
  transition: 0.6s;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position:relative;
  padding-bottom: 50px;
}

.project-item p,
h5 {
  margin: 10px;
  text-align: justify;
}

.project-item img {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  z-index: 2;
  position: static;
  opacity: 1;
  object-fit: cover;
  display: block;
  transition: 0.5s ease-in-out;
  border-radius: 20px 20px 0px 0px;
  /* padding:1px */
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-item:hover {
  overflow: visible;
  box-shadow: #00ccff 0 0 8px;
}

.project-item button {
  margin: 0px;
  border: none;
  width: 100%;
  display: flex;
  position:absolute;
  bottom:0px;
  justify-content: center;  
}

.project-item button:hover {
  border-radius: 0px 0px 20px 20px;
}