.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1, p{
        color: aliceblue;
    }
}
.first-section{
background: #090909;
background: linear-gradient(121deg,rgb(0, 0, 0) 0%, rgb(25, 1, 31) 100%);
animation: backgroundcolor;

}

@media screen {
    
}