.second-section{
   display: flex;
   flex-direction: column;
   background-color: rgb(0, 0, 0);
   padding-top: 20px;
   height: auto;

}

.second-section img {
   position: absolute;
   z-index: 1;

}

.br23 {
   width: 150px;
   left: 40px;
   opacity: 0.1;
   top: 55vw;
   animation: br23 5.5s infinite ease-in-out;
}


.br24 {
   width: 100px;
   left: 160px;
   opacity: 0.1;
   top: 55vw;
   animation: br23 5.7s infinite ease-in-out;
}

@keyframes br23 {
   0% {
      top: 55vw;

   }

   50% {
      top: 56vw;
   }

   100% {
      top: 55vw;
   }

}


.second-section h1 {
   text-align: start;
   padding: 20px;
}

.second-section {
   background: #090909;
   background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(1, 27, 31) 100%);

}