.third-section .kind-sections{
    display: flex;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}
.third-section{
    background: linear-gradient(180deg, rgb(1, 27, 31) 0%,rgb(42, 42, 42) 100%);
    
    
}

.technologies-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 15px; 
    justify-content: baseline;
    
}

.third-section .btn{
    position:relative;
    flex-wrap: wrap;
    display: flex;    
    min-width: 150px;
    height: 60px;
    justify-content:space-around;
    align-items: center;
    margin: 10px;
}
 .third-section p{
    font-size: 8px;    
    position: absolute;   
    bottom:-17px;
    margin: 0;
    opacity: 0;
    transition: .4s;
    width: 100%;
    justify-items: left;
 }

  .third-section .btn:hover p{
        opacity: .8;  
        color: #ffffff;      
    }
.third-section h4{
    margin: 20px;
    margin-bottom: 0px;
    color: #ffffff;
} 


 .renglon1{  
    width: 100%;    
    position:absolute;        
    top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

.third-section .btn:hover{
    box-shadow: #ffffff 0 0 8px;    
    & svg{
        fill: rgb(1, 27, 31);

    }
}


.kind-sections{
    margin: 0 10px;
}
