.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.br {
  z-index: 0;
  width: 7%;
  position: absolute;
  top: 300px;
  right: 400px;
  opacity: 0.4;
  animation: rocks-float 8s infinite ease-in-out;
}


.br2{
  z-index: 1;
  width: 3%;
  position: absolute;
  top: 400px;
  right: 480px;
  opacity: 0.5  ;
  animation: rocks-float-2 10s infinite ease-in-out;

}

.br3{
  z-index: 1;
  width: 1%;
  position: absolute;
  top: 80px;
  right: 500px;
  opacity: 0.5  ;
  animation: rocks-float-3 5s infinite linear;

}

.background {
  background-color: black;
  width: 100%;
  height: auto;
}

@keyframes rocks-float {
  0%{
    top: 250px;
  }
  50%{
    top:260px
  }
  100%{
    top: 250px;
  }
}

@keyframes rocks-float-2 {
  0%{
    /* top: 90px; */
  }
  50%{
    top:390px;
  }
  100%{
    top: 400px;
  }
}
@keyframes rocks-float-3 {
  0%{
    top: 400px;
    transform:rotate(0deg);
  }
  50%{
    top:390px;
  }
  100%{
    top: 400px;
    transform:rotate(360deg);
  }
}
