.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.br {
  z-index: 0;
  width: 7%;
  position: absolute;
  top: 300px;
  right: 400px;
  opacity: 0.2;
  animation: rocks-float 10s infinite ease-in-out;
}


.br2{
  z-index: 1;
  width: 3%;
  position: absolute;
  top: 400px;
  right: 480px;
  opacity: 0.2;
  animation: rocks-float-2 12s infinite ease-in-out;

}

.background {
  background-color: black;
  width: 100%;
  height: auto;
}

@keyframes rocks-float {
  0%{
    top: 250px;
  }
  50%{
    top:260px
  }
  100%{
    top: 250px;
  }
}

@keyframes rocks-float-2 {
  0%{
    top: 400px;
  }
  50%{
    top:390px;
  }
  100%{
    top: 400px;
  }
}
